* {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
/*div {
  border: 1px solid #000000;
}*/
.header {
  background: url("/img/header2.jpg") pink;
  width: 100%;
  background-size: cover;
  z-index: 2;
}

.top-bar {
  background-color: #1eb2b8;
  display: flex;
  width: 100%;
  height: 70px;
}
.logo {
  color: #fff;
  flex: 1;
  font-size: 40px;
  padding: 5px;
  text-transform: uppercase;
  justify-content: center;
}

.top-bar {
  font-family: sans-serif;
  display: flex;
  text-transform: uppercase;
  max-width: 100%;
}

.logo img {
  flex: 0 0 100px;
  margin-right: 20px;
  height: 70px;
  padding: 5px;
}
.menu {
  flex: 3px;
}
.menu ul {
  display: flex;
  list-style: none;
  margin-top: 30px;
  flex-flow: row wrap;
}
.menu ul li {
  flex: 1;
  text-align: center;
}
.menu ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.menu ul li a:hover {
  color: yellow;
}
.header-text {
  display: flex;
  padding: 15%;
}
.header-text-items {
  color: #fff;
  margin: auto;
  text-align: center;
  width: 100%;
}
.header-text-items h2 {
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Rowdies", cursive;
  color: yellow;
}

.header-text-items p {
  font-size: 30px;
  color: rgb(62, 62, 245);
  font-family: "Sora", sans-serif;
}

.wrapper h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Rowdies", cursive;
}
.img-area {
  max-width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-img {
  padding: 20px 20px;
}
.main-content {
  display: flex;
  flex-flow: row wrap;
  padding: 5% 0;

  transition: all 200ms ease-in-out;
}
.main1:hover {
  color: purple;
  opacity: 0.5;
  transition: 0s;
}
.main1 {
  flex: 1;
  padding: 1%;
  text-align: center;
}

.special {
  background: url("/img/special.jpg") pink;
  margin: 0;
  padding: 100px;
  min-width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.delivery {
  background: url("/img/delivery.jpg") pink;
  margin: 0;
  padding: 100px;
  min-width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom {
  background: url("/img/custom.jpg") pink;
  margin: 0;
  padding: 100px;
  min-width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mail {
  background: url("/img/header.jpg") pink;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.mail:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(255, 0, 255, 0.1);
  z-index: -2;
}
.contact-items h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 18px;
}
.contact-items input[type="text"] {
  border-radius: 10px;
  border-color: #fdd1ec;
  margin-bottom: 15px;
  padding: 15px;
  width: 50;
}
.contact-items textarea {
  border-radius: 10px;
  height: 150px;
  padding: 15px;
  width: 50%;
}
.contact-items a {
  background: #1eb2b8;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 80px;
  text-decoration: none;
  text-decoration: uppercase;
}
img {
  height: 50px;
}
.footer {
  font-size: 0.85rem;
  padding: 0px 0;
  margin-top: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  background-color: #3eebf1;
}

.footer__text,
.footer__link,
.footer__title {
  color: #eee;
  padding: 3px 15px;
  display: flex;
}

.footer__hr {
  height: 1px;
  border: none;
  background: #444444;
}

.footer__sections {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer__section {
  box-sizing: border-box;
  width: 25%;
  padding: 10px 0;
  flex-shrink: 0;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
  background: #fdd1ec;
}
.social ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social ul a {
  text-decoration: none;
}
.copy {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1eb2b8;
}

.icon {
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 50px;
  font-size: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
